<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eleventy with Preact and Vite</title>
</head>
<body>

  <h1>Welcome to Eleventy with Preact and Vite!</h1>

  <!-- This is where the Preact component will render -->
  <div id="app"></div>
  <script>
    window.pathPrefix ="{{ config.pathPrefix }}";
  </script>
  <!-- Include the built JS file from Vite -->
  <script type="module" src="http://localhost:3000/packages/index.ts"></script>

</body>
</html>